<nav>
    <ul class="list">
        <li class="title">
            {{#if customLogo}}
            <a href="index.html" data-type="index-link">
                <img alt="" class="img-responsive" data-type="custom-logo" data-src="{{strip-url "images/" customLogo}}">
            </a>
            {{else}}
            <a href="index.html" data-type="index-link">{{documentationMainName}}</a>
            {{/if}}
        </li>

        <li class="divider"></li>
        {{#compare menu "===" "normal"}}{{#unless disableSearch}}{{> search-input }}{{/unless}}{{/compare}}
        <li class="chapter">
            <a data-type="chapter-link" href="index.html"><span class="icon ion-ios-home"></span>{{t "getting-started"
                }}</a>
            <ul class="links">
                {{#unless disableOverview}}
                    {{#if readme}}
                        <li class="link">
                            <a href="overview.html" data-type="chapter-link">
                                <span class="icon ion-ios-keypad"></span>{{t "overview"}}
                            </a>
                        </li>
                    {{else}}
                        <li class="link">
                            <a href="index.html" data-type="chapter-link">
                                <span class="icon ion-ios-keypad"></span>{{t "overview"}}
                            </a>
                        </li>
                    {{/if}}
                {{/unless}}

                {{#if readme}}
                    <li class="link">
                        <a href="index.html" data-type="chapter-link">
                            <span class="icon ion-ios-paper"></span>
                            {{#if disableOverview}}
                                {{t "overview"}}
                            {{else}}
                                {{t "readme"}}
                            {{/if}}
                        </a>
                    </li>
                {{/if}}
                {{#each markdowns}}
                <li class="link">
                    {{#compare name "!==" 'readme'}}
                    <a href="{{name}}.html" {{else}} <a href="index.html" {{/compare}} data-type="chapter-link">
                        <span class="icon ion-ios-paper"></span>{{uppername}}
                    </a>
                </li>
                {{/each}}
                {{#unless disableDependencies}}
                    {{#orLength packageDependencies packagePeerDependencies}}
                        <li class="link">
                            <a href="dependencies.html" data-type="chapter-link">
                                <span class="icon ion-ios-list"></span>{{t "dependencies" }}
                            </a>
                        </li>
                    {{/orLength}}
                {{/unless}}
                {{#unless disableProperties}}
                    {{#orLength packageProperties}}
                        <li class="link">
                            <a href="properties.html" data-type="chapter-link">
                                <span class="icon ion-ios-apps"></span>{{t "properties" }}
                            </a>
                        </li>
                    {{/orLength}}
                {{/unless}}

            </ul>
        </li>
        {{#if additionalPages}}
            <li class="chapter additional">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#additional-pages"{{else}}data-cdx-target="#xs-additional-pages"{{/compare}}>
                    <span class="icon ion-ios-book"></span>
                    <span>{{includesName}}</span>
                    <span class="icon {{#isNotToggle 'additionalPages'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'additionalPages'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="additional-pages"{{else}}id="xs-additional-pages"{{/compare}}>
                    {{#each additionalPages}}
                        {{#compare children.length ">" 0 }}
                            {{#compare depth "===" 1 }}
                            <li class="chapter inner">
                                <a data-type="chapter-link" href="{{path}}/{{filename}}.html" data-context-id="additional">
                                    <div class="menu-toggler linked" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#additional-page-{{id}}"{{else}}data-cdx-target="#xs-additional-page-{{id}}"{{/compare}}>
                                        <span class="link-name">{{ name }}</span>
                                        <span class="icon ion-ios-arrow-down"></span>
                                    </div>
                                </a>
                                <ul class="links collapse" {{#compare ../menu "===" "normal"}}id="additional-page-{{id}}"{{else}}id="xs-additional-page-{{id}}"{{/compare}}>
                                    {{#each children}}
                                    <li class="link {{#compare depth ">" 1 }}for-chapter{{depth}}{{/compare}}">
                                        <a href="{{path}}/{{filename}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="additional">{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/compare}}
                        {{else}}
                            <li class="link {{#compare depth ">" 1 }}for-chapter{{depth}}{{/compare}}">
                                <a href="{{path}}/{{filename}}.html" data-type="entity-link" data-context-id="additional">{{ name }}</a>
                            </li>
                        {{/compare}}
                    {{/each}}
                </ul>
            </li>
        {{/if}}
        {{#if modules}}
            <li class="chapter modules">
                <a data-type="chapter-link" href="modules.html">
                    <div class="menu-toggler linked" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#modules-links"{{else}}data-cdx-target="#xs-modules-links"{{/compare}}>
                        <span class="icon ion-ios-archive"></span>
                        <span class="link-name">{{t "modules" }}</span>
                        <span class="icon {{#isNotToggle 'modules'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                    </div>
                </a>
                <ul class="links collapse {{#isNotToggle 'modules'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="modules-links"{{else}}id="xs-modules-links"{{/compare}}>
                    {{#each modules}}
                    <li class="link">
                        <a href="modules/{{name}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        {{#compare compodocLinks.components.length ">" 0}}
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#components-links-{{id}}"{{else}}data-cdx-target="#xs-components-links-{{id}}"{{/compare}}>
                                    <span class="icon ion-md-cog"></span>
                                    <span>{{t "components" }}</span>
                                    <span class="icon {{#isNotToggle 'components'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                                </div>
                                <ul class="links collapse" {{#compare ../menu "===" "normal"}}id="components-links-{{id}}"{{else}}id="xs-components-links-{{id}}"{{/compare}}>
                                    {{#each compodocLinks.components}}
                                    <li class="link">
                                        <a href="components/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/compare}}
                        {{#compare compodocLinks.directives.length ">" 0}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#directives-links-{{id}}"{{else}}data-cdx-target="#xs-directives-links-{{id}}"{{/compare}}>
                                <span class="icon ion-md-code-working"></span>
                                <span>{{t "directives" }}</span>
                                <span class="icon {{#isNotToggle 'directives'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                            </div>
                            <ul class="links collapse" {{#compare ../menu "===" "normal"}}id="directives-links-{{id}}"{{else}}id="xs-directives-links-{{id}}"{{/compare}}>
                                {{#each compodocLinks.directives}}
                                <li class="link">
                                    <a href="directives/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/compare}}
                        {{#compare compodocLinks.injectables.length ">" 0}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#injectables-links-{{id}}"{{else}}data-cdx-target="#xs-injectables-links-{{id}}"{{/compare}}>
                                <span class="icon ion-md-arrow-round-down"></span>
                                <span>{{t "injectables" }}</span>
                                <span class="icon {{#isNotToggle 'injectables'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                            </div>
                            <ul class="links collapse" {{#compare ../menu "===" "normal"}}id="injectables-links-{{id}}"{{else}}id="xs-injectables-links-{{id}}"{{/compare}}>
                                {{#each compodocLinks.injectables}}
                                <li class="link">
                                    <a href="injectables/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/compare}}
                        {{#compare compodocLinks.pipes.length ">" 0}}
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#pipes-links-{{id}}"{{else}}data-cdx-target="#xs-pipes-links-{{id}}"{{/compare}}>
                                    <span class="icon ion-md-add"></span>
                                    <span>{{t "pipes" }}</span>
                                    <span class="icon {{#isNotToggle 'pipes'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                                </div>
                                <ul class="links collapse" {{#compare ../menu "===" "normal"}}id="pipes-links-{{id}}"{{else}}id="xs-pipes-links-{{id}}"{{/compare}}>
                                    {{#each compodocLinks.pipes}}
                                    <li class="link">
                                        <a href="pipes/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" data-context="sub-entity" data-context-id="modules" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/compare}}
                    </li>
            {{/each}}
        </ul>
        </li>
        {{/if}}
        {{#if components}}
            {{#element-alone components 'component'}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#components-links"{{else}}data-cdx-target="#xs-components-links"{{/compare}}>
                    <span class="icon ion-md-cog"></span>
                    <span>{{t "components" }}</span>
                    <span class="icon {{#isNotToggle 'components'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'components'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="components-links"{{else}}id="xs-components-links"{{/compare}}>
                    {{#objectLength categorizedComponents ">" 0}}
                        {{#each categorizedComponents}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#components-category-{{@key}}"{{else}}data-cdx-target="#xs-components-category-{{@key}}"{{/compare}}>
                                <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                <span class="icon ion-ios-arrow-down"></span>
                            </div>
                            <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="components-category-{{@key}}"{{else}}id="xs-components-category-{{@key}}"{{/compare}}>
                                {{#each this}}
                                <li class="link">
                                    <a href="components/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#each components}}
                        <li class="link">
                            <a href="components/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    {{/objectLength}}
                </ul>
            </li>
            {{/element-alone}}
        {{/if}}
        {{#if entities}}
            {{#element-alone entities 'entity'}}
                <li class="chapter">
                    <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#entities-links"{{else}}data-cdx-target="#xs-entities-links"{{/compare}}>
                        <span class="icon ion-ios-apps"></span>
                        <span>{{t "entities" }}</span>
                        <span class="icon {{#isNotToggle 'entities'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                    </div>
                    <ul class="links collapse {{#isNotToggle 'entities'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="entities-links"{{else}}id="xs-entities-links"{{/compare}}>
                        {{#each entities}}
                        <li class="link">
                            <a href="entities/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
            {{/element-alone}}
        {{/if}}
        {{#if directives}}
            {{#element-alone directives 'directive'}}
                <li class="chapter">
                    <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#directives-links"{{else}}data-cdx-target="#xs-directives-links"{{/compare}}>
                        <span class="icon ion-md-code-working"></span>
                        <span>{{t "directives" }}</span>
                        <span class="icon {{#isNotToggle 'directives'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                    </div>
                    <ul class="links collapse {{#isNotToggle 'directives'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="directives-links"{{else}}id="xs-directives-links"{{/compare}}>
                        {{#objectLength categorizedDirectives ">" 0}}
                            {{#each categorizedDirectives}}
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#directives-category-{{@key}}"{{else}}data-cdx-target="#xs-directives-category-{{@key}}"{{/compare}}>
                                    <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                    <span class="icon ion-ios-arrow-down"></span>
                                </div>
                                <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="directives-category-{{@key}}"{{else}}id="xs-directives-category-{{@key}}"{{/compare}}>
                                    {{#each this}}
                                    <li class="link">
                                        <a href="directives/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        {{else}}
                            {{#each directives}}
                            <li class="link">
                                <a href="directives/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                            </li>
                            {{/each}}
                        {{/objectLength}}
                    </ul>
                </li>
            {{/element-alone}}
        {{/if}}
        {{#if classes}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#classes-links"{{else}}data-cdx-target="#xs-classes-links"{{/compare}}>
                    <span class="icon ion-ios-paper"></span>
                    <span>{{t "classes" }}</span>
                    <span class="icon {{#isNotToggle 'classes'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'classes'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="classes-links"{{else}}id="xs-classes-links"{{/compare}}>
                    {{#objectLength categorizedClasses ">" 0}}
                        {{#each categorizedClasses}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#classes-category-{{@key}}"{{else}}data-cdx-target="#xs-classes-category-{{@key}}"{{/compare}}>
                                <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                <span class="icon ion-ios-arrow-down"></span>
                            </div>
                            <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="classes-category-{{@key}}"{{else}}id="xs-classes-category-{{@key}}"{{/compare}}>
                                {{#each this}}
                                <li class="link">
                                    <a href="classes/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#each classes}}
                        <li class="link">
                            <a href="classes/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    {{/objectLength}}
                </ul>
            </li>
        {{/if}}
        {{#if injectables}}
            {{#element-alone injectables 'injectable'}}
                <li class="chapter">
                    <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#injectables-links"{{else}}data-cdx-target="#xs-injectables-links"{{/compare}}>
                        <span class="icon ion-md-arrow-round-down"></span>
                        <span>{{t "injectables" }}</span>
                        <span class="icon {{#isNotToggle 'injectables'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                    </div>
                    <ul class="links collapse {{#isNotToggle 'injectables'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="injectables-links"{{else}}id="xs-injectables-links"{{/compare}}>
                        {{#objectLength categorizedInjectables ">" 0}}
                            {{#each categorizedInjectables}}
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#injectables-category-{{@key}}"{{else}}data-cdx-target="#xs-injectables-category-{{@key}}"{{/compare}}>
                                    <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                    <span class="icon ion-ios-arrow-down"></span>
                                </div>
                                <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="injectables-category-{{@key}}"{{else}}id="xs-injectables-category-{{@key}}"{{/compare}}>
                                    {{#each this}}
                                    <li class="link">
                                        <a href="injectables/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        {{else}}
                            {{#each injectables}}
                            <li class="link">
                                <a href="injectables/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                            </li>
                            {{/each}}
                        {{/objectLength}}
                    </ul>
                </li>
            {{/element-alone}}
        {{/if}}
        {{#if interceptors}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#interceptors-links"{{else}}data-cdx-target="#xs-interceptors-links"{{/compare}}>
                    <span class="icon ion-ios-swap"></span>
                    <span>{{t "interceptors" }}</span>
                    <span class="icon {{#isNotToggle 'interceptors'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'interceptors'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="interceptors-links"{{else}}id="xs-interceptors-links"{{/compare}}>
                    {{#objectLength categorizedInterceptors ">" 0}}
                        {{#each categorizedInterceptors}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#interceptors-category-{{@key}}"{{else}}data-cdx-target="#xs-interceptors-category-{{@key}}"{{/compare}}>
                                <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                <span class="icon ion-ios-arrow-down"></span>
                            </div>
                            <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="interceptors-category-{{@key}}"{{else}}id="xs-interceptors-category-{{@key}}"{{/compare}}>
                                {{#each this}}
                                <li class="link">
                                    <a href="interceptors/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#each interceptors}}
                        <li class="link">
                            <a href="interceptors/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    {{/objectLength}}
                </ul>
            </li>
        {{/if}}
        {{#if guards}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#guards-links"{{else}}data-cdx-target="#xs-guards-links"{{/compare}}>
                    <span class="icon ion-ios-lock"></span>
                    <span>{{t "guards" }}</span>
                    <span class="icon {{#isNotToggle 'guards'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'guards'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="guards-links"{{else}}id="xs-guards-links"{{/compare}}>
                    {{#objectLength categorizedGuards ">" 0}}
                        {{#each categorizedGuards}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#guards-category-{{@key}}"{{else}}data-cdx-target="#xs-guards-category-{{@key}}"{{/compare}}>
                                <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                <span class="icon ion-ios-arrow-down"></span>
                            </div>
                            <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="guards-category-{{@key}}"{{else}}id="xs-guards-category-{{@key}}"{{/compare}}>
                                {{#each this}}
                                <li class="link">
                                    <a href="guards/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#each guards}}
                        <li class="link">
                            <a href="guards/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    {{/objectLength}}
                </ul>
            </li>
        {{/if}}
        {{#if interfaces}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#interfaces-links"{{else}}data-cdx-target="#xs-interfaces-links"{{/compare}}>
                    <span class="icon ion-md-information-circle-outline"></span>
                    <span>{{t "interfaces" }}</span>
                    <span class="icon {{#isNotToggle 'interfaces'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'interfaces'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="interfaces-links"{{else}}id="xs-interfaces-links"{{/compare}}>
                    {{#objectLength categorizedInterfaces ">" 0}}
                        {{#each categorizedInterfaces}}
                        <li class="chapter inner">
                            <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#interfaces-category-{{@key}}"{{else}}data-cdx-target="#xs-interfaces-category-{{@key}}"{{/compare}}>
                                <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                <span class="icon ion-ios-arrow-down"></span>
                            </div>
                            <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="interfaces-category-{{@key}}"{{else}}id="xs-interfaces-category-{{@key}}"{{/compare}}>
                                {{#each this}}
                                <li class="link">
                                    <a href="interfaces/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    {{else}}
                        {{#each interfaces}}
                        <li class="link">
                            <a href="interfaces/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                        </li>
                        {{/each}}
                    {{/objectLength}}
                </ul>
            </li>
        {{/if}}
        {{#if pipes}}
            {{#element-alone pipes 'pipe'}}
                <li class="chapter">
                    <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#pipes-links"{{else}}data-cdx-target="#xs-pipes-links"{{/compare}}>
                        <span class="icon ion-md-add"></span>
                        <span>{{t "pipes" }}</span>
                        <span class="icon {{#isNotToggle 'pipes'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                    </div>
                    <ul class="links collapse {{#isNotToggle 'pipes'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="pipes-links"{{else}}id="xs-pipes-links"{{/compare}}>
                        {{#objectLength categorizedPipes ">" 0}}
                            {{#each categorizedPipes}}
                            <li class="chapter inner">
                                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare ../menu "===" "normal"}}data-cdx-target="#pipes-category-{{@key}}"{{else}}data-cdx-target="#xs-pipes-category-{{@key}}"{{/compare}}>
                                    <span class="link-name">{{#compare @key "!==" ""}}{{@key}}{{else}}Uncategorized{{/compare}}</span>
                                    <span class="icon ion-ios-arrow-down"></span>
                                </div>
                                <ul class="links collapse in" {{#compare ../menu "===" "normal"}}id="pipes-category-{{@key}}"{{else}}id="xs-pipes-category-{{@key}}"{{/compare}}>
                                    {{#each this}}
                                    <li class="link">
                                        <a href="pipes/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        {{else}}
                            {{#each pipes}}
                            <li class="link">
                                <a href="pipes/{{#if duplicateName}}{{duplicateName}}{{else}}{{name}}{{/if}}.html" data-type="entity-link" {{#if deprecated}}class="deprecated-name"{{/if}}>{{ name }}</a>
                            </li>
                            {{/each}}
                        {{/objectLength}}
                    </ul>
                </li>
            {{/element-alone}}
        {{/if}}
        {{#if miscellaneous}}
            <li class="chapter">
                <div class="simple menu-toggler" data-cdx-toggle="collapse" {{#compare menu "===" "normal"}}data-cdx-target="#miscellaneous-links"{{else}}data-cdx-target="#xs-miscellaneous-links"{{/compare}}>
                    <span class="icon ion-ios-cube"></span>
                    <span>{{t "miscellaneous" }}</span>
                    <span class="icon {{#isNotToggle 'miscellaneous'}}ion-ios-arrow-up{{else}}ion-ios-arrow-down{{/isNotToggle}}"></span>
                </div>
                <ul class="links collapse {{#isNotToggle 'miscellaneous'}}in{{/isNotToggle}}" {{#compare menu "===" "normal"}}id="miscellaneous-links"{{else}}id="xs-miscellaneous-links"{{/compare}}>
                    {{#compare miscellaneous.enumerations.length ">" 0 }}
                    <li class="link">
                        <a href="miscellaneous/enumerations.html" data-type="entity-link">{{t "enums" }}</a>
                    </li>
                    {{/compare}}
                    {{#compare miscellaneous.functions.length ">" 0 }}
                    <li class="link">
                        <a href="miscellaneous/functions.html" data-type="entity-link">{{t "functions" }}</a>
                    </li>
                    {{/compare}}
                    {{#compare miscellaneous.typealiases.length ">" 0 }}
                    <li class="link">
                        <a href="miscellaneous/typealiases.html" data-type="entity-link">{{t "type-aliases" }}</a>
                    </li>
                    {{/compare}}
                    {{#compare miscellaneous.variables.length ">" 0 }}
                    <li class="link">
                        <a href="miscellaneous/variables.html" data-type="entity-link">{{t "variables" }}</a>
                    </li>
                    {{/compare}}
                </ul>
            </li>
        {{/if}}
        {{#unless disableRoutesGraph}}
            {{#if routes}}
                <li class="chapter">
                    <a data-type="chapter-link" href="routes.html"><span class="icon ion-ios-git-branch"></span>{{t "routes" }}</a>
                </li>
            {{/if}}
        {{/unless}}
        {{#unless disableCoverage}}
            <li class="chapter">
                <a data-type="chapter-link" href="coverage.html"><span class="icon ion-ios-stats"></span>{{t
                    "coverage-page-title" }}</a>
            </li>
        {{/unless}}
        {{#if unitTestData}}
            <li class="chapter">
                <a data-type="chapter-link" href="unit-test.html"><span class="icon ion-ios-podium"></span>{{t
                    "unit-test-coverage" }}</a>
            </li>
        {{/if}}
        {{#unless hideGenerator}}
            <li class="divider"></li>
            <li class="copyright">
                {{t "generated-using" }} <a href="https://compodoc.app/" target="_blank" rel="noopener noreferrer">
                    {{#if theme }}
                    {{#compare theme "indexof" 'readthedocs,vagrant,postmark'}}
                    <img data-src="images/compodoc-vectorise-inverted.png" class="img-responsive" data-type="compodoc-logo">
                    {{else}}
                    <img data-src="images/compodoc-vectorise.png" class="img-responsive" data-type="compodoc-logo">
                    {{/compare}}
                    {{else}}
                    <img data-src="images/compodoc-vectorise.png" class="img-responsive" data-type="compodoc-logo">
                    {{/if}}
                </a>
            </li>
        {{/unless}}
    </ul>
</nav>
